<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <section>This is new about section
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad adipisci asperiores aspernatur aut autem
            consectetur culpa eaque eius eligendi harum id, in ipsam natus nemo nesciunt nobis quia quidem quos rem sed sit
            veritatis vero. Error, odit, sit. Amet, corporis ipsa maxime officia quos reiciendis suscipit velit. Debitis,
            numquam!
        </p>
    </section>
</body>
</html>