<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Example for css and js</title>
    <link rel="stylesheet" href="" th:href="@{/css/myStyle.css}" />
</head>
<body>
    <div class="container">
        <img src="" class="profile" th:src="@{image/shiva.jpg}" alt="">
        <h1>Adding CSS, JavaScript and image in Thymeleaf</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores cum dignissimos dolor dolores in
            inventore minus provident quae, qui, reprehenderit sint, ullam? Incidunt neque non saepe. Accusantium animi
            corporis doloribus enim, id in quidem sequi tenetur voluptate voluptatum. Asperiores earum error in non quas
            quasi repellendus tempore voluptatem. Nemo!</p>
    </div>

    <script src="" th:src="@{js/myJs.js}"></script>
</body>
</html>